body {
  --main-indent: .3rem;
  --content-width: 30%;
  --input-width: 45%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.input-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: var(--input-width);
}
.input {
  padding: var(--main-indent);
  margin-bottom: var(--main-indent)
}
.input:not(:placeholder-shown):invalid {
  border: 1px solid red;
}
.button {
  background: rgba(65, 131, 215, 1);
  border: none;
  color: #FFF;
  border-radius: 4px;
  min-width: 5rem;
  max-width: 10rem;
  padding: var(--main-indent);
  margin-bottom: var(--main-indent);
  cursor: pointer;
}
.buttons {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.link {
  display: block;
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.event-container {
  display: block;
  min-width: 100%;
  padding: .5rem;
  margin-bottom: .5rem;
  box-shadow: 0 0 1rem -.1rem rgba(191, 191, 191, 1);
}
.container {
  margin: 0 auto;
  width: 100%;
}
.type-input {
  margin-bottom: var(--main-indent);
}
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: var(--content-width);
  margin: 1rem auto;
  padding: var(--main-indent);
  box-shadow: 0 0 1rem -.1rem rgba(191, 191, 191, 1);
}
.change-input-list-wrapper {
  width: 100%;
}
.change-input-list {
  max-width: 100%;
}
.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 1rem 0;
}
.event-item {
  display: flex;
  margin-bottom: var(--main-indent);
}
.delete-button {
  z-index: 3;
}
.display-none {
  display: none
}
@media screen and (max-width: 1200px) {
  body {
    --content-width: 60%;
    --input-width: 70%;
  }
}
@media screen and (max-width: 576px) {
  :root {
    font-size: 12px;
  }
  body {
    --content-width: 95%;
    --input-width: 90%;
  }
}